<div class="contribution-graph-wrapper">
  <div #chartContainer class="chart-container"></div>
  <div class="contribution-legend">
    <span class="legend-label">Less</span>
    <span class="legend-box" style="background: #ebedf0"></span>
    <span class="legend-box" style="background: #9be9a8"></span>
    <span class="legend-box" style="background: #40c463"></span>
    <span class="legend-box" style="background: #30a14e"></span>
    <span class="legend-box" style="background: #216e39"></span>
    <span class="legend-label">More</span>
  </div>
</div>
